@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-white min-h-screen;
}

main {
  @apply flex justify-center px-4 py-10;
}

@theme {
  --font-deokong: "DeokongPrincessOld", sans-serif; 
  --font-daeam: "DaeAmLeeTaeJun", sans-serif; 
}

@font-face {
  font-family: "DeokongPrincessOld";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/DeogonPrincessClassic.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
    font-family: 'DaeAmLeeTaeJun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
